/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
    line-height: 2rem;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #020101;
    background-image: url("/images/frontblur.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

input {
    font-size: 1.5em !important;
}

label {
    font-size: 1em !important;
}

.big-text {
    font-size: 10em;
}

a, button {
    font-size: 1.5em;
}

.button-collapse {
    color: #26a69a;
}

.row {
    margin-bottom: 0;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;

    .material-icons {
        font-size: inherit;
    }
}
