<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="card">
    <div class="card-content">
        <span class="card-title"><i class="material-icons">person</i> Quintonio</span>
        <p>I'm just a kid from Springfield tryin' to get some poon.</p>
        <br/>
        <p>
            <a class="valign-wrapper" href="#">
                <i class="material-icons valign pre-icon">person_add</i>
                Add friend
            </a>
        </p>
        <p>
            <a class="valign-wrapper" href="#">
                <i class="material-icons valign pre-icon">message</i>
                Send a message
            </a>
        </p>
        <br/>
        <p><strong><a href="#">17 friends</a></strong></p>
        <p><strong>33 posts</strong></p>
    </div>
</div>
</body>
</html>