<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>cluttr</title>

    <!-- CSS  -->
    <link href="favicon.png" rel="icon"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/lib/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/style/common.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!--/*@thymesVar id="css" type="java.lang.String"*/-->
    <link th:href="'/style/' + ${css} + '.css'" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
