<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div class="card">
    <div class="card-content post-content">
        <span class="card-title">
            <a href="#" class="black-text">
                <i class="material-icons">person</i> quintonio
            </a>
            <a href="#" class="right post-more grey-text">
                <i class="material-icons right">more_vert</i>
            </a>
        </span>
        <p>For some reason I just think I'm pretty sweet ya kno?</p>
    </div>
    <div class="card-action post-actions">
        <a href="#"><i class="material-icons blue-text">thumb_up</i></a>
        <a href="#"><i class="material-icons grey-text">thumb_down</i></a>
        <a href="#"><span class="badge green-text">+12</span></a>
    </div>
    <div class="comments">
        <ul class="collection">
            <li class="collection-item grey lighten-4">
                <p>
                    <a href="#">
                        <span class="title">eyocum</span>
                    </a>
                    I agree
                </p>
            </li>
            <li class="collection-item grey lighten-4">
                <p>
                    <a href="#">
                        <span class="title">bskcx</span>
                    </a>
                    Oh word up
                </p>
            </li>
            <li class="collection-item grey lighten-4" style="padding-top: .5em; padding-bottom: .5em;">
                <a href="#">See more...</a>
            </li>
            <li>
                <div class="col s12 comment-input">
                    <input type="text"
                           class="black-text new-comment" title="Comment"
                           placeholder="add a comment...">
                </div>
            </li>
        </ul>
    </div>
</div>